@tailwind base;
@tailwind components;

@layer components{
.btn{
  @apply inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring  focus:ring-offset-2   
  tracking-wider font-semibold text-sm sm:text-base;
} 
.btn-primary{
  @apply bg-indigo-500
   hover:bg-indigo-400 sm:hover:bg-green-500  
    focus:ring-indigo-400 focus:ring-opacity-50 active:bg-indigo-600 
    text-white uppercase 
 ;
}

.btn-secondary{
  @apply   bg-gray-300
   hover:bg-gray-200 
    focus:ring-gray-300 focus:ring-opacity-50 active:bg-gray-400 
     text-gray-800 uppercase 
  ;
}}


@tailwind utilities;
